li{
    padding-left: 2rem;
    margin-top: 2rem;
    display: inline;
    border-radius: 3px;
    border: 3px solid rgb(83, 10, 117);
    
}
div{
 font-size: 4rem;   
 text-align: center;
 margin-top: 5rem;
  
}

p{
    font-size: 2rem;
    color: white;
}

p.tamano{
    font-size: 2rem;
    color: white;
    
}

.tamanoh{
    font-size: 5rem;
    text-align: center;
    color:white;
}

ul.navbar{
    list-style-type:none;
    padding: 2;
    margin: 2;
    position: absolute;
    left: 1em;
    top: 1em;
    width: 9em;
    text-align: left;    
}

.est1{
    color:white;
    font-size: 3rem;
}

.est2{
    color: yellow;
    font-size: 2rem;
}

