
<h1 class="register-title">REGISTRO DE USUARIO</h1>
<form action="" class="register">

<input type="text" class="register-input" formControlName="nombre_usuario" name="nombre_usuario" id="" placeholder="Nombre">
<br>
<input type="number" class="register-input" formControlName="cedula_usuario" name="cedula_usuario" id="" placeholder="Cedula">
<br>
<input type="text" class="register-input" formControlName="nombre_usuario" name="nombre_usuario" id="" placeholder="Direccion">
<br>
<input type="email" class="register-input" formControlName="email_usuario" name="email_usuario" id="" placeholder="Email">
<br>
<input type="password" class="register-input" formControlName="password" name="password" id="" placeholder="New Password">
<br>
<input type="button" value="Enviar">


</form>
