<li><a href="#">Principal</a></li>
<li><a href="#">Registrate</a></li>
<li><a href="#">Ingresa</a></li>

<div class="container">
<h1 class="tamanoh">{{titulo1}}</h1>

<div><p>Gestionar-domicilio!</p></div>

<h2 class="est1">{{titulo2}}</h2>
<h2 class="est1">{{total}}</h2>

</div>

<section> 
    <nav>
        <ul>
            <h2 class="est1">PORK BELLY RAMEN</h2>
            <h3 class="est2">Ingredientes:</h3>
            <p>salmon flameado con talloo de wasabi, soya picante, pepino, camaron, atun, aguacate y arare en salsa de aguachile</p>
            <label for="cant_pork" class="login_field_ico fui_user" >Cantidad: </label><input type="int" name="cant_pork"class="login_field" value="" placeholder="cantidad" id="cant_pork">
            
        </ul>
    </nav>  
</section>

<section>
    <nav> 
        <ul>
            <h2 class="est1">TAK A TACOS DE RIB EYE</h2>
            <h3 class="est2">Ingredientes:</h3>
            <p>Rid eye al carbon(150g), salsa de ajonjoli, cebolla morada, cebollin en tortilla de harina</p>
            <label for="cant_tak" class="login_field_ico fui_user" >Cantidad: </label><input type="int" name="cant_tak"class="login_field" value="" placeholder="cantidad" id="cant_tak">
            
        </ul>
    </nav>  
</section>

<section>
    <nav> 
        <ul>
            <h2 class="est1">YAKISOBA</h2>
            <h3 class="est2">Ingredientes:</h3>
            <p>Fideos delgados asados, salsa de soya con carne molida (40g), camaron(40g), verduras mixtas y aonori</p>
            <label for="cant_yaki" class="login_field_ico fui_user" >Cantidad: </label><input type="int" name="cant_yaki"class="login_field" value="" placeholder="cantidad" id="cant_yaki">
            
        </ul>
    </nav>  
</section>

<div><button (click) = "Onclick()" class= "btn btn-danger"><p class="tamano"> Continuar</p> </button></div>
