<div class="container bg">
    <h2>Productos</h2>
    <div class=" d-flex justify-content-center my-2">
        <div class="card ">
            <img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" width="350">
        </div>
    </div>
    <div class=" my-2">
        <div>
            <h4>Descripción: </h4>
            <ul>
                <li>Fideos delgados asados</li>
                <li>salsa de soya con carne molida (40g)</li>
                <li>camaron(40g)</li>
                <li>verduras mixtas y aonori</li>
            </ul>
        </div>
        <div class="d-flex justify-content-center">
            <form action="">
                <div class="row">
                    <div class="col-6">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" name="cantidad" id="contidad" style="width : 100px; heigth : 1px">
                    </div>
                    <div class="col-6">
                        <p>Precio</p>
                        <button class="btn btn-success"> Pagar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
